body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    color: #73c2fb;            
    text-align: center;      
    margin-top: 20px;       
    font-weight: bold;  
}

h4 {
    font-size: 20px;
    color: lightcyan;
    text-align: center; 
}

form {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
    border-radius: 8px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    margin-top: 13px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px auto;
    max-width: 400px;
    border-radius: 4px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}
